{% load i18n %}
{% load model_admin_urls %}
{% load url from future %}
{% load typedmodels_admin_tags %}
{% load verbose_name_filters %}

<li>
  {{ model|verbose_name|capfirst }}
  {% ifnotequal model current_model %}
    <a href="{% url model|model_admin_urlname:'changelist' %}{% if is_popup %}?_popup=1{% endif %}" class="changelink">
      {% trans "Change" %}
    </a>
  {% endifnotequal %}    
  {% if model.parent_typedmodel %}
    <a href="{% url model|model_admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
      {% trans "Add" %}
    </a>
  {% endif %}
  <ul>
    {% for child_model in model.children_typedmodels %}
      {% links_for_model_with_children child_model %}
    {% endfor %}
  </ul>      
</li>  

