{% load i18n %}
{% load model_admin_urls %}
{% load url from future %}
{% load typedmodels_admin_tags %}
{% load verbose_name_filters %}


<li>
  {{ model|verbose_name|capfirst }}
  <a href="{% url model|model_admin_urlname:'changelist' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
    {% trans "Change" %}
  </a>
  {% if model.parent_typedmodel %}
    <a href="{% url model|model_admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
      {% trans "Add" %}
    </a>
  {% endif %}
  <ul>
    {% for child_model in model.children_typedmodels %}
      {% comment %}
	See https://code.djangoproject.com/ticket/3544 for the reason why {% with %} is used here.
	{% with "typedmodels/admin/_model_with_children_add_links.html" as child_template_name %}
	  {% include child_template_name with model=child_model %}
	{% endwith %}
      {% endcomment %}
      {% model_with_children_add_links child_model %}
    {% endfor %}
  </ul>      
</li>  

